.intro {
    margin-top: 80px;

    &__description {
        display: flex;
    }

    &__title {
        width: 50%;
    }

    &__text {
        width: 50%;
        margin-top: 16px;
    }

    &__img-wrap {
        margin-top: 32px;
    }

    &__img {
        width: 100%;
    }
}